@model List<People>

<form method="post">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="form-group">
            <label asp-for="@Model[i].FirstName" class="control-label"></label>
            <input asp-for="@Model[i].FirstName" class="form-control" />
            <span asp-validation-for="@Model[i].FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model[i].LastName" class="control-label"></label>
            <input asp-for="@Model[i].LastName" class="form-control" />
            <span asp-validation-for="@Model[i].LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model[i].Title" class="control-label"></label>
            <select asp-for="@Model[i].Title" asp-items="@ViewBag.select" class="form-control"></select>
            <span asp-validation-for="@Model[i].Title" class="text-danger"></span>
        </div>

    }

    <button type="submit">Save</button>
</form>